<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <test name="Parameters Testing">
		<parameter name="Browser" value="Firefox"/>
		<parameter name="UserName" value="demo"/>
		<parameter name="Passcode" value="PASSWORD"/>
        <classes>
       
      <class name="RegionsTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
